.mainPortfolio{

    grid-row: 2/3;
    grid-column: 1/-1;
    display: grid;
    grid-template-columns:0.5fr 1fr 1fr 1fr 0.1fr 1fr 0.1fr 1fr 0.1fr 1fr 1fr 1fr 0.5fr;
    grid-template-rows:0.1fr 0.4fr 0.2fr 0.4fr 1fr 0.2fr 1fr 0.2fr 0.4fr;
    gap: 10px;
}

.portfolioTXTh1 {
    grid-column: 5/-5;
    grid-row: 2/3;
    align-self: end;
    justify-self: center;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    color: #444444;
}
.portfolioTXTh2 {
    font-size: 18px;
    grid-column: 2/-2;
    grid-row: 3/4;
    font-size: 18px;
    align-self: start;
    justify-self: center;
    text-align: center;
    color: #444444;
    font-weight: normal;
}
/*Buttons*/
.portfolioButton{
    border: 1px solid #fff;
    text-align: center;
    background: #1bbc9b;
    outline: none;
    color: white;
    font-weight: bold;
    margin: 5px;
    padding: 10px;
}
.portfolioButton:focus,
.portfolioButton:hover,
.portfolioButton:active {
    background-color: #16a086;
    border: 1px solid #fff;
    color: white;
}

.portfolioButtons {
    grid-column: 4/-4;
    grid-row: 4/5;
    align-self: start;
    justify-self: center;
}
.all {
}
.webD {
}
.graphicD {
}
.flatD{

}

.iconRow {
    align-self: center;
    justify-self: center;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    width: 180px;
    height: 180px;
    outline: none;
    background-blend-mode: multiply;
    background-size: cover;

}

.photoicon1row{
    grid-column: 4/5;
    grid-row: 5/7;
    background-image: url("../media/portdolioMedia/photoicon.png");
}
.musicicon1row{
    grid-column: 6/7;
    grid-row: 5/7;
    background-image: url("../media/portdolioMedia/musicicon.png");
}
.settingicon1row {
    grid-column: 8/9;
    grid-row: 5/7;
    background-image: url("../media/portdolioMedia/settingicon.png");

}
.mapicon1row {
    grid-column: 10/11;
    grid-row: 5/7;
    background-image: url("../media/portdolioMedia/mapicon.png");
}
.photoicon1row:focus,
.photoicon1row:hover,
.photoicon1row:active{
    background-color: #16a086;
    border: 1px solid #fff;
    opacity: 0.75;
    transform: scale(1.1);
}
.musicicon1row:focus,
.musicicon1row:hover,
.musicicon1row:active {
    background-color: #16a086;
    border: 1px solid #fff;
    opacity: 0.75;
    transform: scale(1.1);
}
.settingicon1row:focus,
.settingicon1row:hover,
.settingicon1row:active {
    background-color: #16a086;
    border: 1px solid #fff;
    opacity: 0.75;
    transform: scale(1.1);
}
.mapicon1row:focus,
.mapicon1row:hover,
.mapicon1row:active {
    background-color: #16a086;
    border: 1px solid #fff;
    opacity: 0.75;
    transform: scale(1.1);
}

.phoneicon2row{
    grid-column: 4/5;
    grid-row: 7/9;
    background-image: url("../media/portdolioMedia/phoneicon.png");
}
.ballicon2row{
    grid-column: 6/7;
    grid-row: 7/9;
    background-image: url("../media/portdolioMedia/ballicon.png");
}
.photoicon2row {
    grid-column: 8/9;
    grid-row:7/9;
    background-image: url("../media/portdolioMedia/photoicon.png");
}
.musicicon2row {
    grid-column: 10/11;
    grid-row: 7/9;
    background-image: url("../media/portdolioMedia/musicicon.png");
}
.phoneicon2row:focus,
.phoneicon2row:hover,
.phoneicon2row:active{
    background-color: #16a086;
    border: 1px solid #fff;
    opacity: 0.75;
    transform: scale(1.1);
}
.ballicon2row:focus,
.ballicon2row:hover,
.ballicon2row:active {
    background-color: #16a086;
    border: 1px solid #fff;
    opacity: 0.75;
    transform: scale(1.1);
}
.photoicon2row:focus,
.photoicon2row:hover,
.photoicon2row:active {
    background-color: #16a086;
    border: 1px solid #fff;
    opacity: 0.75;
    transform: scale(1.1);
}
.musicicon2row:focus,
.musicicon2row:hover,
.musicicon2row:active {
    background-color: #16a086;
    border: 1px solid #fff;
    opacity: 0.75;
    transform: scale(1.1);
}

.elipseImg {
    border-radius: 50%;
    height: 43px;
    width: 45px;
    background-color: #444444;
    border: 0px solid;
    outline: none;
    opacity: 0.8;
    background-blend-mode: multiply;
    background-size: cover;
    visibility: hidden;
}
.loopImg {
    align-self: center;
    justify-self: center;
}

.photoicon1row:hover .elipseImg{
    visibility: visible;
}
.musicicon1row:hover .elipseImg{
    visibility: visible;
}
.settingicon1row:hover .elipseImg{
    visibility: visible;
}
.mapicon1row:hover .elipseImg{
    visibility: visible;
}

.phoneicon2row:hover .elipseImg{
    visibility: visible;
}
.ballicon2row:hover .elipseImg{
    visibility: visible;
}
.photoicon2row:hover .elipseImg{
    visibility: visible;
}
.musicicon2row:hover .elipseImg{
    visibility: visible;
}


@media only screen and (max-device-width: 600px) {
    .mainPortfolio{
        grid-row: 2/3;
        grid-column: 1/-1;
        display: grid;
        grid-template-columns:0.5fr 1fr 1fr 0.5fr;
        grid-template-rows:0.1fr 0.2fr 0.2fr 0.2fr 1fr 1fr 1fr 1fr 0.1fr;

    }

    .portfolioTXTh1 {
        grid-column: 1/-1;
        grid-row: 2/3;
        align-self: end;
        justify-self: center;
        font-size: 28px;
        font-weight: bold;
        text-align: center;
        color: #444444;
    }
    .portfolioTXTh2 {
        font-size: 18px;
        grid-column: 1/-1;
        grid-row: 3/4;
        font-size: 18px;
        align-self: start;
        justify-self: center;
        text-align: center;
        color: #444444;
        font-weight: normal;
    }
    /*Buttons*/
    .portfolioButton{
        border: 1px solid #fff;
        text-align: center;
        background: #1bbc9b;
        outline: none;
        color: white;
        font-weight: bold;
    }
    .portfolioButton:focus,
    .portfolioButton:hover,
    .portfolioButton:active {
        background-color: #16a086;
        border: 1px solid #fff;
        color: white;
    }

    .portfolioButtons {
        grid-column: 1/-1;
        grid-row: 4/5;
        align-self: start;
        justify-self: center;
    }

    /*1 row icon*/
    .iconRow {
        align-self: center;
        justify-self: center;
        border: 1px solid #fff;
        border-radius: 50%;
        text-align: center;
        outline: none;
        background-blend-mode: multiply;
        background-size: cover;
    }

    .photoicon1row{
        grid-column: 2/3;
        grid-row: 5/6;
        background-image: url("../media/portdolioMedia/photoicon.png");
    }
    .musicicon1row{
        grid-column: 3/4;
        grid-row: 5/6;
        background-image: url("../media/portdolioMedia/musicicon.png");
    }
    .settingicon1row {
        grid-column: 2/3;
        grid-row: 6/7;
        background-image: url("../media/portdolioMedia/settingicon.png");

    }
    .mapicon1row {
        grid-column: 3/4;
        grid-row: 6/7;
        background-image: url("../media/portdolioMedia/mapicon.png");
    }
    .photoicon1row:focus,
    .photoicon1row:hover,
    .photoicon1row:active{
        background-color: #16a086;
        border: 1px solid #fff;
        opacity: 0.75;
        transform: scale(1.1);
    }
    .musicicon1row:focus,
    .musicicon1row:hover,
    .musicicon1row:active {
        background-color: #16a086;
        border: 1px solid #fff;
        opacity: 0.75;
        transform: scale(1.1);
    }
    .settingicon1row:focus,
    .settingicon1row:hover,
    .settingicon1row:active {
        background-color: #16a086;
        border: 1px solid #fff;
        opacity: 0.75;
        transform: scale(1.1);
    }
    .mapicon1row:focus,
    .mapicon1row:hover,
    .mapicon1row:active {
        background-color: #16a086;
        border: 1px solid #fff;
        opacity: 0.75;
        transform: scale(1.1);
    }


    .phoneicon2row{
        grid-column: 2/3;
        grid-row: 7/8;
        background-image: url("../media/portdolioMedia/phoneicon.png");
    }
    .ballicon2row{
        grid-column: 3/4;
        grid-row: 7/8;
        background-image: url("../media/portdolioMedia/ballicon.png");
    }
    .photoicon2row {
        grid-column: 2/3;
        grid-row:8/9;
        background-image: url("../media/portdolioMedia/photoicon.png");
    }
    .musicicon2row {
        grid-column: 3/4;
        grid-row:8/9;
        background-image: url("../media/portdolioMedia/musicicon.png");
    }
    .phoneicon2row:focus,
    .phoneicon2row:hover,
    .phoneicon2row:active{
        background-color: #16a086;
        border: 1px solid #fff;
        opacity: 0.75;
        transform: scale(1.1);
    }
    .ballicon2row:focus,
    .ballicon2row:hover,
    .ballicon2row:active {
        background-color: #16a086;
        border: 1px solid #fff;
        opacity: 0.75;
        transform: scale(1.1);
    }
    .photoicon2row:focus,
    .photoicon2row:hover,
    .photoicon2row:active {
        background-color: #16a086;
        border: 1px solid #fff;
        opacity: 0.75;
        transform: scale(1.1);
    }
    .musicicon2row:focus,
    .musicicon2row:hover,
    .musicicon2row:active {
        background-color: #16a086;
        border: 1px solid #fff;
        opacity: 0.75;
        transform: scale(1.1);
    }

    .elipseImg {
        border-radius: 50%;
        height: 43px;
        width: 45px;
        background-color: #444444;
        border: 0px solid;
        outline: none;
        opacity: 0.8;
        background-blend-mode: multiply;
        background-size: cover;
        visibility: hidden;
    }
    .loopImg {
        align-self: center;
        justify-self: center;
    }

    .photoicon1row:hover .elipseImg{
        visibility: visible;
    }
    .musicicon1row:hover .elipseImg{
        visibility: visible;
    }
    .settingicon1row:hover .elipseImg{
        visibility: visible;
    }
    .mapicon1row:hover .elipseImg{
        visibility: visible;
    }

    .phoneicon2row:hover .elipseImg{
        visibility: visible;
    }
    .ballicon2row:hover .elipseImg{
        visibility: visible;
    }
    .photoicon2row:hover .elipseImg{
        visibility: visible;
    }
    .musicicon2row:hover .elipseImg{
        visibility: visible;
    }
}
