@import url("fonts/lato/stylesheet.css");


.App {
  display: grid;
  grid-template-columns:0.5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 0.5fr;
  grid-template-rows: 90px auto 90px;
  column-gap: 20px;
  font-family: "Lato", "Helvetica", "Arial";
  color: #444444;
}

h3 {
    font-size: 18px;
}
h4 {
    font-size: 14px;
    font-style: italic;
}
p {
    font-size: 14px;
}
